In [28]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv("C:\\Users\\lenovo\\OneDrive\\Desktop\\Reunion\\data\\applicant.csv")
data2 = pd.read_csv("C:\\Users\\lenovo\\OneDrive\\Desktop\\Reunion\\data\\loan.csv")

In [30]:
data.head()

,applicant_id,Primary_applicant_age_in_years,Gender,Marital_status,Number_of_dependents,Housing,Years_at_current_residence,Employment_status,Has_been_employed_for_at_least,Has_been_employed_for_at_most,Telephone,Foreign_worker,Savings_account_balance,Balance_in_existing_bank_account_(lower_limit_of_bucket),Balance_in_existing_bank_account_(upper_limit_of_bucket)
0,1469590,67,male,single,1,own,4,skilled employee / official,7 years,NaN,Registered under the applicant's name,1,NaN,NaN,0
1,1203873,22,female,divorced/separated/married,1,own,2,skilled employee / official,1 year,4 years,NaN,1,Low,0,2 lac
2,1432761,49,male,single,2,own,3,unskilled - resident,4 years,7 years,NaN,1,Low,NaN,NaN
3,1207582,45,male,single,2,for free,4,skilled employee / official,4 years,7 years,NaN,1,Low,NaN,0
4,1674436,53,male,single,2,for free,4,skilled employee / official,1 year,4 years,NaN,1,Low,NaN,0

In [37]:
sum(data['applicant_id'])

1514763121

In [20]:
data.describe()

,applicant_id,Primary_applicant_age_in_years,Number_of_dependents,Years_at_current_residence,Foreign_worker
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.514763e+06,35.546000,1.155000,2.845000,0.963000
std,2.286764e+05,11.375469,0.362086,1.103718,0.188856
min,1.105364e+06,19.000000,1.000000,1.000000,0.000000
25%,1.321398e+06,27.000000,1.000000,2.000000,1.000000
50%,1.529114e+06,33.000000,1.000000,3.000000,1.000000
75%,1.707752e+06,42.000000,1.000000,4.000000,1.000000
max,1.903505e+06,75.000000,2.000000,4.000000,1.000000

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   applicant_id                                              1000 non-null   int64
 1   Primary_applicant_age_in_years                            1000 non-null   int64
 2   Gender                                                    1000 non-null   object
 3   Marital_status                                            1000 non-null   object
 4   Number_of_dependents                                      1000 non-null   int64
 5   Housing                                                   1000 non-null   object
 6   Years_at_current_residence                                1000 non-null   int64
 7   Employment_status                                         1000 non-null   object
 8   Has_been_employed_for_at_least                            938 non-null    object
 9   Has_been_employed_for_at_most                             747 non-null    object
 10  Telephone                                                 404 non-null    object
 11  Foreign_worker                                            1000 non-null   int64
 12  Savings_account_balance                                   817 non-null    object
 13  Balance_in_existing_bank_account_(lower_limit_of_bucket)  332 non-null    object
 14  Balance_in_existing_bank_account_(upper_limit_of_bucket)  543 non-null    object
dtypes: int64(5), object(10)
memory usage: 117.3+ KB

In [39]:
data.isnull().sum()

applicant_id                                                  0
Primary_applicant_age_in_years                                0
Gender                                                        0
Marital_status                                                0
Number_of_dependents                                          0
Housing                                                       0
Years_at_current_residence                                    0
Employment_status                                             0
Has_been_employed_for_at_least                               62
Has_been_employed_for_at_most                               253
Telephone                                                   596
Foreign_worker                                                0
Savings_account_balance                                     183
Balance_in_existing_bank_account_(lower_limit_of_bucket)    668
Balance_in_existing_bank_account_(upper_limit_of_bucket)    457
dtype: int64

In [40]:
data.shape

(1000, 15)

In [42]:
data.dropna(inplace = True)

In [43]:
data.isnull().sum()

applicant_id                                                0
Primary_applicant_age_in_years                              0
Gender                                                      0
Marital_status                                              0
Number_of_dependents                                        0
Housing                                                     0
Years_at_current_residence                                  0
Employment_status                                           0
Has_been_employed_for_at_least                              0
Has_been_employed_for_at_most                               0
Telephone                                                   0
Foreign_worker                                              0
Savings_account_balance                                     0
Balance_in_existing_bank_account_(lower_limit_of_bucket)    0
Balance_in_existing_bank_account_(upper_limit_of_bucket)    0
dtype: int64

In [44]:
data.shape

(55, 15)

In [46]:
data.head(20)

,applicant_id,Primary_applicant_age_in_years,Gender,Marital_status,Number_of_dependents,Housing,Years_at_current_residence,Employment_status,Has_been_employed_for_at_least,Has_been_employed_for_at_most,Telephone,Foreign_worker,Savings_account_balance,Balance_in_existing_bank_account_(lower_limit_of_bucket),Balance_in_existing_bank_account_(upper_limit_of_bucket)
7,1705739,35,male,single,1,rent,2,management / self-employed / highly qualified ...,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
12,1231297,22,female,divorced/separated/married,1,own,1,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
30,1414851,36,male,married/widowed,1,own,3,skilled employee / official,0 year,1 year,Registered under the applicant's name,1,Very high,0,2 lac
32,1291798,30,male,single,1,own,2,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,Medium,0,2 lac
41,1188917,26,male,divorced/separated,1,own,1,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,High,0,2 lac
42,1491485,44,male,single,2,own,4,unskilled - resident,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
60,1548860,27,male,married/widowed,1,own,1,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
63,1304525,25,male,single,1,own,2,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
87,1586725,47,male,single,2,for free,4,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,Medium,0,2 lac
95,1416025,58,male,single,1,rent,4,skilled employee / official,0 year,1 year,Registered under the applicant's name,1,Low,0,2 lac
103,1901818,35,male,single,1,rent,3,skilled employee / official,4 years,7 years,Registered under the applicant's name,1,Low,0,2 lac
105,1514853,39,male,single,2,own,3,management / self-employed / highly qualified ...,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
119,1357789,36,male,divorced/separated,1,own,3,management / self-employed / highly qualified ...,4 years,7 years,Registered under the applicant's name,1,High,0,2 lac
141,1432828,30,female,divorced/separated/married,1,own,1,management / self-employed / highly qualified ...,0 year,1 year,Registered under the applicant's name,1,Low,0,2 lac
154,1230615,36,male,single,1,rent,4,management / self-employed / highly qualified ...,4 years,7 years,Registered under the applicant's name,1,Medium,0,2 lac
158,1680095,38,male,single,1,own,3,skilled employee / official,4 years,7 years,Registered under the applicant's name,1,Medium,0,2 lac
181,1324848,30,male,divorced/separated,1,own,2,management / self-employed / highly qualified ...,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
189,1802699,33,female,divorced/separated/married,1,own,4,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
192,1387043,36,male,single,2,own,2,skilled employee / official,1 year,4 years,Registered under the applicant's name,1,Low,0,2 lac
226,1749949,27,male,single,1,own,2,skilled employee / official,4 years,7 years,Registered under the applicant's name,1,Very high,0,2 lac

In [21]:
len(data.columns)

15

In [22]:
list = []
for i in range(len(data.columns)):
    list.append(data.columns[i])

In [23]:
list

['applicant_id',
 'Primary_applicant_age_in_years',
 'Gender',
 'Marital_status',
 'Number_of_dependents',
 'Housing',
 'Years_at_current_residence',
 'Employment_status',
 'Has_been_employed_for_at_least',
 'Has_been_employed_for_at_most',
 'Telephone',
 'Foreign_worker',
 'Savings_account_balance',
 'Balance_in_existing_bank_account_(lower_limit_of_bucket)',
 'Balance_in_existing_bank_account_(upper_limit_of_bucket)']

In [24]:
data2.head()

,loan_application_id,applicant_id,Months_loan_taken_for,Purpose,Principal_loan_amount,EMI_rate_in_percentage_of_disposable_income,Property,Has_coapplicant,Has_guarantor,Other_EMI_plans,Number_of_existing_loans_at_this_bank,Loan_history,high_risk_applicant
0,d68d975e-edad-11ea-8761-1d6f9c1ff461,1469590,6,electronic equipment,1169000,4,real estate,0,0,NaN,2,critical/pending loans at other banks,0
1,d68d989e-edad-11ea-b1d5-2bcf65006448,1203873,48,electronic equipment,5951000,2,real estate,0,0,NaN,1,existing loans paid back duly till now,1
2,d68d995c-edad-11ea-814a-1b6716782575,1432761,12,education,2096000,2,real estate,0,0,NaN,1,critical/pending loans at other banks,0
3,d68d99fc-edad-11ea-8841-17e8848060ae,1207582,42,FF&E,7882000,2,building society savings agreement/life insurance,0,1,NaN,1,existing loans paid back duly till now,0
4,d68d9a92-edad-11ea-9f3d-1f8682db006a,1674436,24,new vehicle,4870000,3,NaN,0,0,NaN,2,delay in paying off loans in the past,1

In [55]:
temp = data2['Loan_history']
temp.unique()

array(['critical/pending loans at other banks',
       'existing loans paid back duly till now',
       'delay in paying off loans in the past',
       'no loans taken/all loans paid back duly',
       'all loans at this bank paid back duly'], dtype=object)

In [67]:
property_detail = data2['Property']
temp2 = property_detail.unique()
temp2

array(['real estate', 'building society savings agreement/life insurance',
       nan, 'car or other'], dtype=object)

In [25]:
data2.columns

Index(['loan_application_id', 'applicant_id', 'Months_loan_taken_for',
       'Purpose', 'Principal_loan_amount',
       'EMI_rate_in_percentage_of_disposable_income', 'Property',
       'Has_coapplicant', 'Has_guarantor', 'Other_EMI_plans',
       'Number_of_existing_loans_at_this_bank', 'Loan_history',
       'high_risk_applicant'],
      dtype='object')

In [27]:
data2.describe()

,applicant_id,Months_loan_taken_for,Principal_loan_amount,EMI_rate_in_percentage_of_disposable_income,Has_coapplicant,Has_guarantor,Number_of_existing_loans_at_this_bank,high_risk_applicant
count,1.000000e+03,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.514763e+06,20.903000,3.271258e+06,2.973000,0.041000,0.052000,1.407000,0.300000
std,2.286764e+05,12.058814,2.822737e+06,1.118715,0.198389,0.222138,0.577654,0.458487
min,1.105364e+06,4.000000,2.500000e+05,1.000000,0.000000,0.000000,1.000000,0.000000
25%,1.321398e+06,12.000000,1.365500e+06,2.000000,0.000000,0.000000,1.000000,0.000000
50%,1.529114e+06,18.000000,2.319500e+06,3.000000,0.000000,0.000000,1.000000,0.000000
75%,1.707752e+06,24.000000,3.972250e+06,4.000000,0.000000,0.000000,2.000000,1.000000
max,1.903505e+06,72.000000,1.842400e+07,4.000000,1.000000,1.000000,4.000000,1.000000